<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Page</title>
</head>
<body>
<form th:action ="@{/home}" method="post">
    <table>
        <tr>
            <td><input type="text" name="name" id="user-name"></input></td>
            <td><label for="user-name">User Name</label></td>

        </tr>
        <tr>
            <td><input type="text" name="password" id="password"></input></td>
            <td><label for="password">Password</label></td>
        </tr>
        <tr>
            <td><input type ="text" name ="email" id="email"></td>
            <td><label for="email">Email:</label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>
</body>
</html>